* {
    margin: 0%;
    padding: 0%;
}

#head {
    background-color: black;
    height: 60px;
    display: block;
}

#amazon {
    padding: 5px;

    color: rgb(218, 152, 29);
    font-size: 25px;
    margin: 10px;
    margin-top: 20px;
    text-decoration: none;

}

#amazon:hover {
    border: 2px solid white;
}

#space {
    padding-right: 700px;
    text-decoration: none;
    
}

a {
    color: white;
    padding-right: 20px;
    text-decoration: none;
}

#btn {
    background-color: orange;
    padding: 4px;
}

img {
    width: 100%;
}