* {
    margin: 0%;
    padding: 0%;
}

#head {
    background-color: black;
    height: 60px;
}

#amazon {
    padding: 5px;
    padding-right: 700px;
    color: orange;
    font-size: 20px;
    text-decoration: none;

}

a {
    color: white;
    padding-right: 20px;
    text-decoration: none;
}

#btn {
    background-color: orange;
    padding: 4px;
}

img{
    width: 100%;
}