* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
  justify-content: center;
  align-items: center;
    display: flex;

}
.container {
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: #1f84f8;
}

.vector img {
    float: left;
    width: 90%;
    margin: 0 auto;

}

.form {
    border: 2px solid none;
    padding: 10px 100px;
    border-radius: 20px;
    background-color: #c2e6ff;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.form h1{
    margin: 20px;
}

.login {
    min-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
 
    height: 90%;
    margin: 20px 20px;
}

button{
    padding: 3px 5px;
    width: 226px;
}
   
.checkbox{
    display: flex;
}

label {
    display: block;
}