* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@mixin flex($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

.header {
    @include flex(space-between, center);
    height: 100px;
    padding: 10px;

    .list {
        @include flex(space-between, center);
        width: 50%;
    }

    a {
        color: black;
        text-decoration: none;
    }
}