* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
    height: 100vh;
    width: 100vw;
}

.container {
    display: grid;
    /* display: flex; */
    height: 100%;
    padding: 1.5rem;    width: 100%;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    column-gap: 20px;


}


.item {
    border: 4px solid;
    background-color: aqua;
    display: grid;
    justify-content: center;
    align-items: center;
}


.colspan2 {
    grid-column: span 2;
}

.rowspan2 {
    grid-row: span 2;
}

.item11 {
    /* grid-column: span 3; */
    grid-column-start: 1;
    grid-column-end: 4;
}