* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "item1 item1 item2 item3 "
        "item4 item5 item6 0"
        "item7 item7 item8 item9"
        "  "
    ;
}

/* grid-template-areas: ; */


.item {
    border: 4px solid;
    height: 120px;
    width: 120px;
}

.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.item10 {
    grid-area: item10;
}

.item11 {
    grid-area: item11;
}

.item12 {
    grid-area: item12;
}